.start-screen {
  background-color: #0a1432;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.start-label-box {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    max-width: 680px;
    width: 58vw;
    min-width: 330px;
    height: auto;

    &:hover {
      filter: brightness(1.35);
      cursor: pointer;
    }
  }
}
