.start-screen {
  background-color: #0a1432;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.start-label-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12%; //11vh
  display: flex;
  justify-content: center;

  img {
    max-width: 630px;
    width: 52vw;
    min-width: 400px;
    height: auto;

    &:hover {
      filter: brightness(1.35);
      cursor: pointer;
    }
  }
}
